body{
    margin:auto;
    height: 100%;
    z-index: -2;
    background-image:url(../assets/textura_parede.webp);
    background-size: cover;
}
.logo{
    width: 150px;
    height: 150px;
    box-shadow: none;
}
.title{
    color: hsl(12, 68%, 23%);
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 5px 5px 7px grey;
    text-decoration: underline;
    text-align: center;
}


    /* ----------Cabeçalho ------------*/

header{
    background-color: rgb(245, 245, 245);
    width: 38%;
    margin: auto;
    box-shadow: 3px 3px 3px rgb(167, 167, 165);
}
h2{
    font-size: 1rem;
}
a{
    text-decoration: none;
    color:rgb(73, 23, 23);   
}
a:hover{
    background-color: rgb(48, 30, 17);
    color:rgb(216, 216, 216);
    transition: 2s;
}
.header{
    margin: auto;
    display: inline-block;
    left:50%;
    padding-left: 2%;
    padding: 1%;
    border-color: rgb(248, 248, 248);
    border-style: solid;
    border-right-color: rgb(48, 48, 48);
}
.header1{
    padding-left: 2%;
    margin: auto;
    display: inline-block;
    padding: 1%;
    border-color: rgb(245, 245, 245);
    border-style: solid;
}




.espaco{
    background-color:  rgb(248, 248, 248);
    border: 3px double black;
    padding: 5%;
    width:60%;
    margin: auto;
}
.quadroInicial{
    width:100%;
    height: 550px;
    
    box-shadow: 5px 5px 15px rgb(161, 161, 161);
    background-image:url("../assets/sofa_verdemarinho.webp");
    background-size: cover;
    
    overflow: hidden;
}
.configuracao-imagens{
    
    overflow: hidden;
    position: relative;
    width: 100%;
    height:100%;
    
    
    background-size: cover;
}

.img1{
    background-image: url('../assets/armario_brancocasa.webp');
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: trocaImagens 7s ease-out 50s 1 alternate forwards;
}
.img2{
    
    background-image: url('../assets/armario_parede.webp');
    bottom: 100%;
    animation: trocaImagens 7s ease-out 40s 1 alternate forwards;
}
.img3{
    bottom: 200%;
    
    background-image: url('../assets/cadeira_roxa.webp');
    animation: trocaImagens 5s ease-out 30s 1 alternate forwards;
}
.img4{

    bottom: 300%;
    background-image: url('../assets/cama_cinza.webp');
    animation: trocaImagens 5s ease-out 20s 1 alternate forwards;
}
.img5{

    bottom: 400%;
    background-image: url('../assets/cama_sem_pes.webp');
    animation: trocaImagens 5s ease-out 10s 1 alternate forwards;
}
.img6{

    bottom: 500%;
    background-image: url('../assets/guarda_roupacasa.webp');
    animation: trocaImagens 7s ease-out 3s 1 alternate forwards;
}

.slonga{
    overflow: hidden;
    position: relative;
    bottom: 580%;
    left: 7%;
    width: 40%;
    height:auto;
    color: rgb(56, 10, 10);
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    animation: apareceSlogan 40s ease-out 1s 1 alternate forwards
}

@keyframes apareceSlogan{
    0%{
        
        left: 5%;
    }
    70%{
        left:15%;
    }
    100%{
        
        left:10%; color: rgb(224, 224, 224);
    }
}
@keyframes trocaImagens {
0% {left:0%; opacity: 1;}
100% {left:100%; opacity: 0.4;}
}



p{
    width: 250px;
    font-size: 20px;
    text-indent: 20px;
    text-align: justify;
}
h3{
    width: 200px;
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}



@media screen and (max-width:1300px) {

    body{
        width: auto;
        margin: auto;
    }

    header{
        background-color: rgb(245, 245, 245);
        width: 40%;
        margin: auto;
        box-shadow: 3px 3px 3px rgb(167, 167, 165);
    }
    h2{
        font-size: 1rem;
    }
    a{
        text-decoration: none;
        color:rgb(73, 23, 23);   
    }
    a:hover{
        background-color: rgb(48, 30, 17);
        color:rgb(216, 216, 216);
        transition: 2s;
    }
    .header{
        margin: auto;
        display: inline-block;
        left:50%;
        padding: 1%;
        border-color: rgb(248, 248, 248);
        border-style: solid;
        border-right-color: rgb(48, 48, 48);
    }
    .header1{
        margin: auto;
        display: inline-block;
        padding: 1%;
        border-color: rgb(245, 245, 245);
        border-style: solid;
    }
        /*  -------------------Cabeçalho------ */

    
    p{
        width: 80%;
        font-size: 20px;
        text-indent: 20px;
        text-align: justify;
    }
    h3{
        
        width: 60%;
        display: block;
        font-size: 21px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
    }
}



@media screen and (max-width:700px) {
    
    body{
        width: 320px;
        margin: auto;
    }

    header{
        background-color: rgb(245, 245, 245);
        width: 60%;
        margin: auto;
        box-shadow: 3px 3px 3px rgb(167, 167, 165);
    }
    h2{
        font-size: 1.2rem;
    }
    a{
        text-decoration: none;
        color:rgb(73, 23, 23);   
    }
    li:hover{
        color:rgb(173, 169, 169);
        font-variant: small-caps;
        transition: 1s;
        background-color: rgb(73, 23, 23);
        
    }
    .header{
        height: 30%;
        margin: auto;
        display: block;
        left:50%;
        padding: 5%;
        border-color: rgb(114, 43, 43);
        border-style: solid;
        border-right-color: rgb(48, 48, 48);
    }
    .header1{
        margin: auto;
        display: block;
        padding: 5%;
        border-color: rgb(114, 43, 43);
        border-style: solid;
        border-right-color: rgb(48, 48, 48);
    }


    
    p{
        width: 80%;
        font-size: 20px;
        text-indent: 20px;
        text-align: justify;
    }
    h3{
        
        width: 60%;
        display: block;
        font-size: 21px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
    }
    
    .slonga{
        font-size: 7px;
        width: 100%;
    }
    .espaco{
        
        
        padding: 5%;
        width:90%;
        margin: auto;
    }
    .quadroInicial{
        width:100%;
        height: 400px;

    }
}